body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Garamond;
}

#specific, #measureable, #attainable, #realistic, #timebound{
    background-color: rgb(53, 53, 53);
    border-color: black;
}